.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;

    &__button {
        background-color: #64ffda;
        color: #0a192f;
        font-family: inherit;
        cursor: pointer;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        font-weight: 600;
        text-transform: uppercase;
    }

    @media screen and (max-width: 450px) {
        & {
            flex-direction: column-reverse;

            &__button {
                display: block;
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
}
