<div id="quiz">
    <ng-container *ngIf="isStartedQuiz">
        <div class="quiz__configuration" *ngIf="!isConfigurationFinished">
            <div class="form-row">
                <label>Select Category</label>
                <select class="form-control" [formControl]="category">
                    <option value="">Select</option>
                    <option [value]="category.id" *ngFor="let category of categories">{{ category.name }}</option>
                </select>
                <div class="error" *ngIf="category.errors && category.touched">
                    <span *ngIf="category.errors.required">Required field</span>
                </div>
            </div>
            <div class="form-row">
                <label>Select Difficulty</label>
                <select class="form-control" [formControl]="difficulty">
                    <option value="">Select</option>
                    <option value="any">Any Difficulty</option>
                    <option value="easy">Easy</option>
                    <option value="medium">Medium</option>
                    <option value="hard">Hard</option>
                </select>
                <div class="error" *ngIf="difficulty.errors && difficulty.touched">
                    <span *ngIf="difficulty.errors.required">Required field</span>
                </div>
            </div>
            <div class="form-row">
                <label>Time for each Question - Seconds</label>
                <input type="text" class="form-control" [formControl]="time" />
                <div class="error" *ngIf="time.errors && time.touched">
                    <span *ngIf="time.errors.required">Required field</span>
                    <span *ngIf="time.errors.pattern">Only numbers</span>
                    <span *ngIf="time.errors.min">Number must be greater than 0</span>
                </div>
            </div>
            <div class="button-content">
                <button class="btn" [disabled]="validateButton()" (click)="showRules()">Continue</button>
            </div>
        </div>
        <div class="start__quiz" *ngIf="isConfigurationFinished">
            <div class="start__quiz-header">
                <h2>Some Rules of this Quiz</h2>
            </div>
            <div class="start__quiz-body">
                <p>
                    1. You will have only <b>{{ time.value }} seconds</b> per each question.
                </p>
                <p>2. Once you select your answer, ir can't be undone.</p>
                <p>3. You can't select any option once time goes off.</p>
                <p>4. You can't exit from the Quiz while you're playing.</p>
                <p>4. You'll get points on the basis of your correct answers.</p>
            </div>
            <div class="start__quiz-footer">
                <button class="btn exit-quiz" (click)="exitQuiz()">Exit Quiz</button>
                <button class="btn" (click)="startQuiz()">Start Quiz</button>
            </div>
        </div>
    </ng-container>

    <div class="quiz__box" *ngIf="!isStartedQuiz && !showResults">
        <app-header #header [timer]="time.value" [step]="step" (timeExceed)="getStopTimers()"></app-header>
        <app-body #body [answers]="answers" [activatedStep]="step" (stopTimers)="getStopTimers()"></app-body>
        <app-footer #footer [step]="step" [lengthQuiz]="lengthQuiz" (sendNextQuote)="next($event)" (showResults)="changeResult($event)"></app-footer>
    </div>

    <app-result *ngIf="!isStartedQuiz && showResults" [corrects]="corrects" [length]="lengthQuiz" (restarQuiz)="restarQuiz($event)"></app-result>
</div>
